<div *ngIf="vehicle">
  <h2>{{ vehicle.type | uppercase }} Detalles</h2>
  <!-- <div><span>id: </span><input [(ngModel)]="vehicle.id"></div> -->
  <div><span>type: </span><input [(ngModel)]="vehicle.type"></div>
  <div><span>capacity: </span><input [(ngModel)]="vehicle.capacity"></div>
  <div><span>location: </span><input [(ngModel)]="vehicle.location"></div>
  <div><span>retirementAddress: </span><input [(ngModel)]="vehicle.retirementAddress"></div>
  <div><span>returnAddress: </span><input [(ngModel)]="vehicle.returnAddress"></div>
  <div><span>description: </span><input [(ngModel)]="vehicle.description"></div>
  <div><span>phone: </span><input [(ngModel)]="vehicle.phone"></div>
  <div><span>cost: </span><input [(ngModel)]="vehicle.cost"></div>
  <div> <img src="{{ vehicle.photo }}" width="150">  </div>
  <div>
    <button (click)="update()">Modificar</button>
    <button (click)="goBack()">Volver</button>
  </div>
</div>
