/* .selected {
  background-color: rgb(144, 228, 76) !important;
  color: rgb(230, 113, 46);
}
.vehicles {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.vehicles li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: rgb(85, 154, 218);
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.vehicles li.selected:hover {
  background-color: rgb(188, 81, 230) !important;
  color: white;
}
.vehicles li:hover {
  color: rgb(161, 83, 187);
  background-color: rgb(213, 91, 91);
  left: .1em;
}
.vehicles .text {
  position: relative;
  top: -3px;
}
.vehicles .badge {
  display: inline-block;
  font-size: small;
  color: rgb(99, 174, 187);
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
} */

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-valid[minlength], .ng-valid.minlength  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
