.bg-transparent {
  background-color: transparent;
}

:host {
  height: 100%;
}

.photo {
  object-fit: contain;
  margin: auto;
}

.card {
  width: 20rem;
  margin: 0 auto;
}

.reg {
  max-width: 443px;
  margin: auto;
}
