<div>
  <label for="rentalUserName"i18n="labelRental| @@rentalUserName">Rental User Name</label>
  {{rentUser.name}}
</div>
<div>
  <label for="ownerUserName"i18n="labelRental| @@ownerUserName">Owner User Name</label>
  {{ownerUser.name}}
</div>
<div>
  <label for="vehicleId"i18n="labelRental| @@vehicleId"> Vehicle ID: </label>
  {{vehicleRent.id}}
</div>

  <div>
    <label> Comienzo de alquiler</label>
    <input type="datetime-local" id="begin-time" />
  </div>

  <div>
    <label> Fin  de alquiler</label>
    <input type="datetime-local" id="finish-time" >
  </div>


  <button class="btn btn-success" (click)="createRental()"i18n="button| @@createRental" >
    Create Rental
  </button>
