<div *ngIf="user" class="container-fluid">

  <h2> Detalles de {{ user.name | uppercase }}</h2>
  <h4> SSN: {{user.cuil}}</h4>
  <h4> Mail: {{user.email}}</h4>
  <div>
    <div class="row">
      <label>Name:
        <input [(ngModel)]="user.name" placeholder="Nombre">
      </label>
    </div>
    <div class="row">
      <label>Surname:
        <input [(ngModel)]="user.surname" placeholder="Segundo nombre">
      </label>
    </div>
    <div class="row">
      <label>Address:
        <input [(ngModel)]="user.address" placeholder="Direccion">
      </label>
    </div>

    <div>
      <button (click)="update()" class="btn btn-success">
          <i class="glyphicon glyphicon-floppy-save"></i>  Save</button>
    </div>
    <div *ngIf="user.vehicles">
      <h3>
        Vehicles of: {{ user.name | uppercase }}
      </h3>
      <ul class="vehicles">
        <li *ngFor="let vehicle of user.vehicles">
          <span class="badge">{{vehicle.id}}</span> {{vehicle.type}}
        </li>
      </ul>
    </div>
    <!-- <app-vehicles></app-vehicles> -->
  </div>

</div>
