<div *ngIf="rental">
  <h2>{{ rental.ownerCuil | uppercase }} Detalles</h2>
  <div><span>id: </span><input [(ngModel)]="rental.id"></div>
  <div><span>startDate: </span><input [(ngModel)]="rental.startDate"></div>
  <div><span>endDate: </span><input [(ngModel)]="rental.endDate"></div>
  <div><span>ownerCuil: </span><input [(ngModel)]="rental.ownerCuil"></div>
  <div><span>clientCuil: </span><input [(ngModel)]="rental.clientCuil"></div>
  <div><span>vehicleID: </span><input [(ngModel)]="rental.vehicleID"></div>
  <div>
    <button (click)="update()">Modificar</button>
    <button (click)="goBack()">Volver</button>
  </div>
</div>
