<div *ngIf="rental">
  <h2>Detalles</h2>
  <div>
    <label>id: </label>
    {{ rentalView.id }}
  </div>
  <div><span>startDate: {{ rentalView.startDate }} </span></div>
  <div><span>endDate: </span>{{rentalView.endDate}}</div>
  <div><span>ownerCuil: </span>{{rentalView.ownerCuil}}</div>
  <div><span>clientCuil: </span>{{rentalView.clientCuil}}</div>
  <div><span>vehicleID: </span>{{rentalView.vehicleID}}</div>
</div>
    <div *ngIf="isWaitConfirm || isOwner">
          <button (click)="confirm(rentalView,10)">Confirm</button>
          <button (click)="cancel(rentalView,10)">Cancel</button>
    </div>

    <div *ngIf="isConfirm &&  ! isOwner; else isConfirmOwner">
            <button (click)="payRental(rentalView)">PayRental</button>
    </div>
    <ng-template #isConfirmOwner>
            <button (click)="cancel(rentalView,10)">Cancel</button>
    </ng-template>

    <div *ngIf="isDone && ! isOwner ">
      <button (click)="in_use(rentalView)">Take a Car</button>
    </div>

    <div *ngIf="isIn_USE && ! isOwner">
      <button (click)="returnVehicle(rentalView)">Returned a Car</button>
    </div>

    <div *ngIf="isScored && isOwner">
      <button (click)="returnVehicle(rentalView)">Scored User</button>
    </div>
